/* .title {
  text-align: center;
  margin: 20px;
} */

.album-item-link {
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
}

.album-item {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 200px;
  margin-right: 200px;
  max-width: calc(100% - 100px);
  height: 50px;
  transition: background-color 0.2s;
}

.album-item:hover {
  background-color: #e0e0e0;
}

.album-title {
  display: inline-block;
}